body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.FoodPicture {
  width: 100px;
  margin: 5px auto; /* centers it horizontally */
  cursor: pointer;
}